@font-face {
    font-family: 'GlacialIndifference-Regular';
    src: url(../fonts/GlacialIndifference-Regular.ttf);
}

@font-face {
    font-family: 'GlacialIndifference-Bold';
    src: url(../fonts/GlacialIndifference-Bold.otf);
}

@font-face {
    font-family: 'JMHCthulhumbusUG';
    src: url(../fonts/JMHCthulhumbusUG.ttf);
}

*:focus{
    outline: none !important;
}

.sort-filter-container{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-top: 56px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-shadow: 0 2px 1.5px 0 rgba(0,0,0,.12);
}

.filter-btn,
.sort-btn{
	font-family: 'GlacialIndifference-Regular';
	flex-grow: 2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	line-height: 50px;
}

.sort-btn i,
.filter-btn i{
	line-height: 50px;
	margin-right: 7px;
}
.sort-btn{
	border-right: 1px solid rgba(0,0,0,.1);
}

.checkbox{
	padding: 7px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'GlacialIndifference-Regular';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    border-radius: 3px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2ecc71;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}