<div class="grey-50 has-header" id="drilldownContainer" style="font-family: 'GlacialIndifference-Regular'">
  <div class="header green-900" style="background-color: #f09819 !important;position: relative;">
    <div class="left">
      <button class="fa fa-chevron-left" style="color: white;font-size: 18px;    height: 50px;
    width: 50px;" onclick="angular.element(document.getElementById('drilldownContainer')).scope().goBack()"></button>
    </div>
    <h1 style="font-size: 19px;margin: 0; height: 50px;line-height: 52px;padding: 0 12px;font-family: 'JMHCthulhumbusUG';">DigiTouch (Admin)</h1>
  </div>
  <div class="tab-content active" id="drilldown" style="padding: 15px 10px; background: white;">
    <div class="loaders" ng-if="!User.DrillDownDetails"><div class="four"></div></div>
    <div ng-if="User.DrillDownDetails" style="padding: 15px 10px;background: white;">
      <div class="breadcrums" style="display: flex;flex-direction: row; background: white;text-decoration: underline;font-size: 17px;">
        <div style="text-transform: uppercase;">{{User.DrillDownDetails.type}}</div>
        <div style="margin: 0 7px;"><span class="fa fa-chevron-right"></span></div>
        <div>{{User.DrillDownDetails.param1}}</div>
        <div ng-if="User.DrillDownDetails.level == 2" style="margin: 0 7px;">
          <span class="fa fa-chevron-right"></span>
        </div>
        <div ng-if="User.DrillDownDetails.level == 2">
          {{User.DrillDownDetails.param2_name}}
        </div>
      </div>
      <table style="width: 100%;">
        <thead>
          <tr style="height: 50px;border-bottom: 1px solid #f1f1f1;">
            <th ng-if="User.DrillDownDetails.level == 1">Product</th>
            <th ng-if="User.DrillDownDetails.level == 2">IWS Code</th>
            <th style="text-align: right;" ng-if="User.DrillDownDetails.level == 1">Total IWS</th>
            <th style="text-align: right;" ng-if="User.DrillDownDetails.level == 2">LOC Code</th>
            <th style="text-align: right;min-width: 65px;">Actuals</th>
            <th style="text-align: right;min-width: 65px;">Target</th>
            <th style="text-align: right;min-width: 65px;">Variance</th>
            <th style="min-width: 30px;" ng-if="User.DrillDownDetails.level == 1"></th>
          </tr>
        </thead>
        <tbody>
          <tr style="height: 50px;border-bottom: 1px solid #f1f1f1;" ng-repeat="data in User.DrillDownDetails.result" ng-click="drilldown(User.DrillDownDetails.type, 2, User.DrillDownDetails.param1, data.product_id, data.product_name)">
            <td ng-if="User.DrillDownDetails.level == 1">{{data.product_category}}</td>
            <td ng-if="User.DrillDownDetails.level == 2" ng-click="$event.stopPropagation()"><span tooltips tooltip-template="{{data.iws_name}}" tooltip-side="right">{{data.iws_code}}</span></td>
            <td style="text-align: right;" ng-if="User.DrillDownDetails.level == 1">{{data.total_iws}}</td>
            <td style="text-align: right;" ng-if="User.DrillDownDetails.level == 2">{{data.loc_code}}</td>
            <td style="text-align: right;">{{data.actuals}}</td>
            <td style="text-align: right;">{{data.target}}</td>
            <td style="text-align: right;">{{data.target - data.actuals}}</td>
            <td style="min-width: 30px;text-align: center;" ng-if="User.DrillDownDetails.level == 1"><span class="fa fa-chevron-right"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>