<div class="dashboard-container">
  <div id="cont">
    <div ng-click="drawer.show()" class="fixed" id="topbar">
      <div class="title">
        {{ title }}
      </div>
    </div>
  </div>
  <div class="dashboard-container" ng-if="showLoader">
    <div class="loader"></div>
  </div>
	<div class="dashboard-sub-container" ng-if="!showLoader" style="flex-direction: column;justify-content: flex-start;flex-grow: 2;padding-top: 50px;">
        <ul class="list-data" ng-if="User.all_requests.length > 0" style="list-style: none;padding: 7px;">
          <li ng-repeat="request in User.all_requests | orderBy: timestamp" style="border-bottom: 1px solid #f5f5f5;padding: 10px 3px;font-size: 17px;">
              <div>
              <b>{{request.iws_code}}</b> has requested for <b>{{request.target_quantity}}</b> extra parts for <b>{{request.product_name}}({{request.product_category}})</b>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-between;">
              <span class="chip" ng-class="{'pending':request.status=='P', 'approved':request.status=='A', 'rejected':request.status=='R'}">{{request.status=="P"?"pending":(request.status=="A"?"approved":"rejected")}}
              </span>
              <div style="display: flex;flex-direction: row;" ng-if="request.status=='P'">
                <i class="fa fa-check" ng-click="updateRequest($index,'A')" style="margin: 0 5px;font-size: 22px;color:#2ecc71;"></i>
                <i class="fa fa-times" ng-click="updateRequest($index,'R')" style="margin: 0 5px;font-size: 22px;color:#ff4d5a;"></i>
              </div>
            </div>
            <div style="display: flex;justify-content: flex-end;font-size: 15px;">
              <span data-livestamp="{{request.timestamp}}"></span>
            </div>
          </li>
        </ul>
        <div class="nothing-message" ng-if="User.all_requests.length == 0">
          <img src="assets/img/no_targets.png" style="width: 120px;margin: 0 auto;" />
          <div>No Targets added for this month. Please contact the administrator to update the monthly targets</div>          
        </div>
    </div>
</div>